body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/* Containers */

.container-fluid {
  /* padding: 7% 15%; */
  padding: 2rem 4.75rem;
}

@media (min-width: 576px) {
  .container-fluid {
    padding: 3rem 8rem;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    padding: 7rem 10rem;
  }
}

/* Sections */
section {
  position: relative;
}
.colored-section {
  color: #fff;
  background-color: #ff4c68;
}

.white-section {
  background-color: #fff;
}

.section-heading {
  font-size: 2.5rem;
  line-height: 1.25;
}

/* Headings */
.big-heading {
  font-size: 2.5rem;
  line-height: 1.2;
}

@media (min-width: 576px) {
  .big-heading {
    font-size: 3rem;
    line-height: 1.25;
  }

  .section-heading {
    font-size: 2.5rem;
    line-height: 1.25;
  }
}

@media (min-width: 992px) {
  .big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
  }
}

/* Download Buttons */
.download-button {
  margin-block: 0.375rem;
}

@media (min-width: 992px) {
  .download-button {
    margin: 2rem 1rem 2rem 0;
  }
}

@media (min-width: 992px) and (max-width: 1000px) {
  .download-button {
    margin-bottom: 0;
    margin-right: 0.75rem;
  }
}

/* Navigation Bar */

.navbar {
  padding: 0;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

@media (min-width: 576px) {
  .navbar {
    padding-bottom: 0;
  }
}

@media (min-width: 992px) {
  .navbar {
    padding-bottom: 3rem;
  }
}

/* Title Section */
.title-section {
  text-align: center;
}

.title-image {
  width: 60%;
}

@media (min-width: 992px) {
  .title-section {
    text-align: left;
  }
  .title-image {
    -ms-transform: rotate(20deg);
    /* IE 9 */
    transform: rotate(20deg);
    position: absolute;
    right: 30%;
  }
}

/* Features section  */
.features-section {
  position: relative;
}

.feature-box {
  padding: 5%;
}

.feature-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.feature-icon:hover {
  color: #ff4c68;
}

.feature-title {
  font-size: 1.5rem;
  padding: 5% 0 0;
}

/* Testimonails section */
.testimonials-section {
  background-color: #ef8172;
  padding-inline: 1.5rem;
}

.testimonial-text {
  font-size: 2rem;
  line-height: 1.2;
  width: 85%;
  margin: 0 auto;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 2rem;
}

@media (min-width: 992px) {
  .testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
  }

}

@media (min-width: 576px) {
  .testimonial-text {
    font-size: 2.5rem;
    line-height: 1.25;

    width: 75%;
    margin: 0 auto;
  }
}

/* Press section  */
.press-section {
  background-color: #ef8172;
}

.press-logo {
  margin: 20px 20px 15px;
  width: 30%;
}

@media (min-width: 992px) {
  .press-logo {
    width: 15%;
  }
}

/* Princing section */
.pricing-section {
  padding: 3.125rem;
}
.price-text {
  font-size: 2rem;
  margin-block: 0.875rem;
  /* line-height: 1.25; */
}

.pricing-column {
  padding: 2rem 1rem;
}

@media (min-width: 992px) {
  /* Princing Section */
  .pricing-section {
    padding: 6rem;
  }

  .price-text {
    font-size: 2.75rem;
    /* line-height: 1.5; */
  }
}

/* Cta section  */

@media (min-width: 992px) {
  .cta-section {
    padding: 7% 21% 5%;
  }
}

/* Footer */
.btn-link {
  color: #000;
}

.btn-link:hover {
  color: #5a5a5a;
}
